.Iniciopagina{

  color: #7cf107;
  font-size: 50px;
  background-color: #000000;
  
}

.OndeEstou{
  font-size: 20px;
  color: #7cf107;
  background-color: #000000;
 }


.Informações{

  background-color: #0a0e06;
  color: #7cf107;

}


